/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700);
@import url(//fonts.googleapis.com/css?family=Lato:300);
@import url(//fonts.googleapis.com/css?family=Loved+by+the+King);

// Font-Awesome vars, mixins and path
@import "../../../node_modules/font-awesome/scss/variables";
@import "../../../node_modules/font-awesome/scss/mixins";
@import "../../../node_modules/font-awesome/scss/path";


html * {
	color-profile: sRGB;
	rendering-intent: auto;
}


// Laravel colors
$salmon:			#f4726d;
$white:				#fff;
$greyLighter:	#f5f5f5;
$greyLight:		#ccc;
$greyMedium:	#aaa;
$greyDark:		#777;
$greyDarker:	#333;
$greyDarkest: #222;
$black:       #000;
$mauve:		  	#706da7;
$green:				#46b87c;
$blue: 				#1b91ff;
$pen:					#457;

.mauve {
	background-color: $mauve;
}


// Override theme settings (see ../template/settings.scss)

// Background of the presentation
$backgroundColor: $white;

// Primary/body text
$mainFont: 'Open Sans', Helvetica, Arial, sans-serif;
$mainFontSize: 36px;
$mainColor: $greyDarker;

// Headings
$headingMargin: 0 0 0.5em 0;
$headingFont: 'Lato', $mainFont;
$headingFontWeight: 300;
$headingColor: $greyMedium;
$headingLineHeight: 1.4;
$headingLetterSpacing: -0.02em;
$headingTextTransform: uppercase;
$headingTextShadow: 0px 1px 1px rgba(0,0,0,0.2);
$heading1TextShadow: 0 1px 2px rgba(0,0,0,0.3);

// Links and actions
$linkColor: $salmon;
$linkColorHover: darken( $linkColor, 20% );

$navColor: fade-out( $greyLight, .4 );
$navColorEnabled: fade-out( $greyMedium, .4 );


// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

$monospaceFont: 'Ubuntu Mono', monospace;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


// Extras

.no-shadow {
	box-shadow: none !important;
}

.reveal {

  letter-spacing: 0;
  line-height: 1 !important;


  // Font-Awesome SASS
  @import "../../../node_modules/font-awesome/scss/core";
  @import "../../../node_modules/font-awesome/scss/larger";
  @import "../../../node_modules/font-awesome/scss/fixed-width";
  @import "../../../node_modules/font-awesome/scss/list";
  @import "../../../node_modules/font-awesome/scss/bordered-pulled";
  @import "../../../node_modules/font-awesome/scss/spinning";
  @import "../../../node_modules/font-awesome/scss/rotated-flipped";
  @import "../../../node_modules/font-awesome/scss/stacked";
  @import "../../../node_modules/font-awesome/scss/icons";

	p {
		margin-bottom: 0.5em;
	}

	.handwriting {
		font-family: 'Loved by the King';
		letter-spacing: .03em;
		word-spacing: -.3em;
		color: fade-out( $mainColor, .5 );
		-webkit-backface-visibility: hidden;
		-webkit-transform:rotate(-7deg);
						transform:rotate(-7deg);
	}
	.handwriting:not(.inline) {
			position: absolute;
	}
	.handwriting.pen {
		color: $pen;
	}
	.handwriting.padded {
		padding-left: 0.5em;
	}


	ul {
		margin-left: $fa-li-width;
	}
	ul li {
		list-style-type: none;
	}

	li {
		margin-bottom: 0.5em;
	}
	li > ul {
		margin-top: 0.5em;
	}

	ul li:not(.no-bullet)::before {
		content: "\f105";
		font-size: .85em;
		display: inline-block;
		font-family: "FontAwesome";
		font-weight: normal;
		font-style: normal;
		margin-left: -$fa-li-width;
		width: $fa-li-width;
		text-align: center;
		opacity: 0.5;
	}

	ul.folders li::before {
		content: "\f07b";
	}
	ul.folders li.file::before {
		content: "\f15c";
	}

	section img.inline {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		border: 0;

		&.fixed-height {
				height: 6em;
		}

	}

	h3 {
		text-align: left;
		color: $greyDark;
		text-transform: none;
		font-weight: normal;
	}

	em.aside {
		font-style: italic;
		font-weight: 300;
		color: $greyMedium;
		font-size: .65em;
		display: block;
		letter-spacing: 0;
	}

	a:not(.image) {
		border-bottom: 3px solid transparent;
	}

	a:not(.image):hover {
		border-bottom: 3px solid fade-out( $linkColor, .5 );
	}

	.bg-inverse {
		color: $greyLighter;

		.handwriting {
			color: fade-out( $greyLighter, .4 );
		}

		h1,h2,h3,h4,h5,h6,
		a {
			color: $white;
		}
		a:not(.image):hover {
			color: $white;
			border-bottom-color: fade-out( $white, .5 );
		}
	}

	h2 i.fa {
		opacity: 0.4;
	}

	h1:not(.no-border) {
		border-bottom: 2px solid;
	}

	// h2:not(.no-border) {
	// 	border-bottom: 1px solid $greyLighter;
	// }

	.bookcover {
		position: absolute;
		right: 0;
		bottom: -7em;
		height: 14em;
		img {
			height: 100%;
			width: auto;
			border: 1px solid rgba(0,0,0,.5);
			box-shadow: 5px 5px 15px 4px rgba(0,0,0,.4);
		}
	}


	.slides section {

		.fragment.spin-in {
			opacity: 0;
			-webkit-transition-duration: .5s;
				 -moz-transition-duration: .5s;
					-ms-transition-duration: .5s;
					 -o-transition-duration: .5s;
							transition-duration: .5s;

			-webkit-transform: rotateZ( -359deg ) scale(0.1);
				 -moz-transform: rotateZ( -359deg ) scale(0.1);
					-ms-transform: rotateZ( -359deg ) scale(0.1);
					 -o-transform: rotateZ( -359deg ) scale(0.1);
							transform: rotateZ( -359deg ) scale(0.1);
		}
		.fragment.spin-in.visible {
			opacity: 1;
			-webkit-transform: rotateZ( 0 ) scale(1);
				 -moz-transform: rotateZ( 0 ) scale(1);
					-ms-transform: rotateZ( 0 ) scale(1);
					 -o-transform: rotateZ( 0 ) scale(1);
							transform: rotateZ( 0 ) scale(1);
		}
		.fragment.spin-in.skewed.visible {
			opacity: 1;
			-webkit-backface-visibility: hidden;
			-webkit-transform: rotateZ( 7deg ) scale(1);
				 -moz-transform: rotateZ( 7deg ) scale(1);
					-ms-transform: rotateZ( 7deg ) scale(1);
					 -o-transform: rotateZ( 7deg ) scale(1);
							transform: rotateZ( 7deg ) scale(1);
		}

	}

	.fragment.highlight-active.visible {
		color: fade-out( $mainColor, .7 );
	}
	.fragment.highlight-active.visible.current-fragment {
		color: $blue;
	}

	.hljs-comment {
		font-style: italic;
	}

	pre, code {
		font-family: $monospaceFont;
	}

	pre {
		font-size: .75em;
		box-shadow: none;
	}

	// pre+pre:not(.fragment) {
	pre+pre {
		margin-top: -1em;
    code {
      max-height: 12em;
    }
	}

	.fragment-block pre+pre {
		margin-top: 15px;
	}

	pre code {
		background-color: $greyDarker;
		padding: 1em;
		border-radius: 0.5em;
		box-shadow: 0 0 6px rgba(0,0,0,.3);
		max-height: 20em;
		line-height: 1.2;
	}

	pre .filename {
		color: $greyDark;
		background: $greyDarker;
		border-radius: 0.5em 0.5em 0 0;
		padding: 0 1em;
		position: absolute;
		right: 1em;
		top: -1.5em;
		letter-spacing: -.05em;
		font-size: 75%;
		font-style: italic;
	}

	.fragment-block {
		position: relative;
		min-height: 8em;

		.fragment,
		.fragment-first {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}

		.fragment.hide-after.visible:not(.current-fragment) {
			opacity: 0;
		}

	}

	.fragment-block + .fragment-block {
		margin-top: -2em;
	}

	h2.bar {
		width: 140%;
		margin: -1em 0 0 -20%;
		background: fade-out( $black, .25);
		color: #fff;
		font-size: 3em;
		position: absolute;
		top: 50%;

		&.top {
			top: 1em;
			bottom: auto;
		}

		&.bottom {
			top: auto;
			bottom: 1em;
		}


	}

	section.full-height {
		height: 100%;
	}

}
